# Firebase
.firebase/
.cache/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Temporales locales
.commitmsg.txt

# Dependencias
node_modules/

# Backups locales
backup/
bakab/

# Entorno y secretos
.env
.env.*

# IDE
.vscode/
.idea/

# SO
Thumbs.db
.DS_Store
